instance/database.db
__pycache__/app.cpython-311.pyc
config.ini
static/fonts/JetBrainsMono-Bold.ttf
static/fonts/JetBrainsMono-Regular.woff2
static/fonts/JetBrainsMono-Regular.ttf
static/fonts/JetBrainsMono-Bold.woff2
