<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <h1>Register</h1>
                <form class="login-form" method="POST" action="/register">
                    <input type="text" id="username" name="username" placeholder="username" required>
                    <input type="password" id="password" name="password" placeholder="password" required>
                    <button type="submit">sign up</button>
                </form>
                <div class="login-footer">
                    <p>Already have an account? <a href="/login">Login here</a></p>
                </div>
        </div>
    </div>
</body>
</html>
